html,
body {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fffded;
    color: #742305;
    text-align: center;
}

* {
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 800;
    margin-bottom: 15px;
}

header,
.card,
.newsCard {
    width: 95%;
    margin-bottom: 30px;
    background-color: #fff2cdef;
    border-radius: 4em;
}

header {
    padding: 15px 5px;
}

header ul {
    width: 95%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

header ul li,
button {
    width: 45%;
    list-style-type: none;
    border: 0;
    background-color: #ffd971;
    border-radius: 1em;
    padding: 8px 5px;
    margin: 5px;
}

header img {
    height: 1.5em;
    margin: 0;
    margin-right: 10px;
}

header ul li {
    order: 1;
}

header ul li#shop {
    font-size: 1.5em;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
}

.card,
.newsCard {
    overflow: hidden;
}

.card img,
.newsCard img {
    width: 100%;
}

.content {
    width: 90%;
    padding: 20px;
}

.card .content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card .content div:first-child {
    width: 70%;
    padding-right: 10px;
}

.card .content .price {
    width: 25%;
    font-size: 1.3em;
}

button {
    margin-bottom: 15px;
    font-size: 1.3em;
    font-weight: bold;
    color: #742305;
}

.newsCard {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsCard h3 {
    margin: 10px 0;
}

@media screen and (min-width: 576px) {
    header ul {
        flex-wrap: nowrap;
    }

    header ul li {
        border-radius: 2em;
        width: fit-content;
        order: 0;
    }

    header ul li#shop {
        width: 30%;
        padding: 20px 5px;
    }



}