@mixin myCenteringFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin mySpacingFlex($direction, $spacing) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: center;
}

@mixin miniCont($margin, $padding, $height: false) {
  @include myCenteringFlex;
  width: 100%;
  margin: $margin;
  padding: $padding;
  @if ($height == "false") {
    height: auto;
  }
  height: $height;
}

@mixin zeroSpacing {
  margin: 0;
  padding: 0;
}

@mixin spacing($margin, $padding) {
  margin: 0;
  padding: 0;
}

@mixin colorCombo($combination, $white) {
  @if ($combination == "dark") {
    background-color: $myblack;
    color: $mywhite;
  }
  @if ($combination == "light") {
    background-color: $white;
    color: $myblack;
  }
  @if ($combination == "darkGreen") {
    background-color: $myblack;
    color: $mygreen;
  }
  @if ($combination == "lightGreen") {
    background-color: $white;
    color: $mygreen;
  }
  @if ($combination == "greenDark") {
    background-color: $mygreen;
    color: $myblack;
  }
  @if ($combination == "greenLight") {
    background-color: $mygreen;
    color: $mywhite;
  }
}
