@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #009187;
    color: #00554f;
}

#contain {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 95%;
}

.pets,
.users {
    width: 80%;
    height: max-content;
    margin-bottom: 20px;
    padding: 5% 8%;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pets {
    background: rgba(0, 208, 255, 0.3);
}

.users {
    background: rgba(255, 255, 0, 0.3);
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    font-weight: 400;
}

h1 {
    margin: 30px;
}

form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.newPet,
.newUser {
    width: 48%;
    height: 80px;
    text-align: center;
}

.newPet input,
.newUser input {
    width: 98%;
    height: 40px;
    padding: 1% 5%;
    border: none;
    border-radius: 3em;
}

#addPet,
#addUser {
    width: 90%;
    height: 50px;
    cursor: pointer;
    background: #009187;
    border: none;
    border-radius: 3em;
    font-size: 18px;
}

#list,
#listUsers {
    display: flex;
    flex-direction: column;
    margin: 10px;
    list-style: none;
    width: 90%;
    margin-bottom: 40px;
}

#list li,
#listUsers li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background: rgba(255, 255, 255, 0.65);
    border: none;
    border-radius: 3em;
}

.delBtn {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #c1006a;
    color: white;
    border-radius: 3em;
}