@import "./partials/reset";
@import "./partials/mixin";
@import "./partials/variables";
@import "./partials/home";
@import "./partials/details";
@import "./partials/backoffice";

//fonts
@import url("https://fonts.cdnfonts.com/css/gotham");

html,
body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  @include colorCombo("light", $mywhite);
}

header,
main,
footer {
  width: 100%;
  @include zeroSpacing;
  @include myCenteringFlex;
}

.minicontainer {
  @include mySpacingFlex(row, space-between);
}

.centering {
  width: 100%;
  @include myCenteringFlex;
}

main {
  margin-top: 100px;
}

h1,
h2,
h3 {
  color: $mygreen;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

nav,
.navbar-expand-lg {
  width: 100%;
  padding: 1% 2%;
  @include mySpacingFlex(row, space-between);
  @include colorCombo("darkGreen", $mywhite);
  * {
    color: $mygreen;
  }
}

nav .active > a {
  font-weight: bold !important;
  color: lighten($mygreen, 20%) !important;
}

nav a:hover,
nav li:hover {
  color: lighten($mygreen, 20%) !important;
}

.btn,
.navbar-toggler {
  @include colorCombo("greenLight", $mywhite);
  border: 1px solid black;
  * {
    color: $mywhite;
  }
}

.btn:hover {
  @include colorCombo("darkGreen", $mywhite);
  border: 1px solid $mywhite;
  * {
    color: $mygreen;
  }
}

.btn-danger {
  background-color: $myred;
}

.btn-danger:hover {
  background-color: $myblack;
  color: $myred;
  border: $mywhite;
}
