header {
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#navbarContent {
    text-align: right;
}

.card {
    height: 450px;
}

.card-img-top img {
    max-height: 150px;
    width: 100%;
}




