$backgroundColor: #2800a1;
$textColor: #f4f4f4;
$buttonBlue: #488cfb;
$buttonYellow: #ffd035;
$buttonGreen: #78ed7c;

$mainFontFamily: "Roboto", sans-serif;
$fontSizeXL: 3em;
$fontSizeL: 2em;
$fontSizeM: 1.5em;
$fontSizeS: 1em;
$fontSizeXS: 0.8em;

$sm: 5px;
$normal: inherit;
$md: 10px;
$lg: 15px;
$xl: 20px;
$xxl: 30px;

