@mixin myCenteringFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin mySpacingFlex($direction, $spacing) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: center;
}

@mixin miniCont($margin, $padding, $height: false) {
  @include myCenteringFlex;
  width: 100%;
  margin: $margin;
  padding: $padding;
  @if ($height == "false") {
    height: auto;
  }
  height: $height;
}

@mixin colorCombo($combination) {
  @if ($combination == "dark") {
    background-color: $nxBlack;
    color: $nxWhite;
  }
  @if ($combination == "light") {
    background-color: $nxWhite;
    color: $nxBlack;
  }
  @if ($combination == "red") {
    background-color: $nxRed;
    color: $nxWhite;
  }
}

@mixin borderCombo($combination, $width) {
    @include colorCombo($combination);
    @if ($combination == 'dark') {
        border: $width solid $nxWhite;
    } @if (colorCombo('light')) {
        border: $width solid $nxBlack;
    } @if (colorCombo('red')) {
        border: $width solid $nxWhite;
    }
}